<tr>
<td><img class="img-responsive cart-image" src="{{product.image}}" alt="picture of {{product.name}}"></td>
<td>{{product.name}}</td>
<td>{{qty}}</td>
<td>{{product.seller.name}}</td>
<td>${{product.cost}}</td>
<td>${{multiItemCost}}</td>
</tr>
